* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Bottom*/

.bottoms {
    text-decoration: none;
    padding: 20px;
}

.html {
    font-size: 62.5%;
}

.col-1 {
    text-decoration: none;
    padding: 10px 25px;
    margin: 30px;
    font-weight: 600;
    border-radius: 6px;
    background-color: #111;
    color: #fff;
    font-size: 2rem;
    box-shadow: 0px -1px 13px 2px #000000;
}

.col-1:hover {
    border: 2px solid #111;
    background-color: #E8E8E8;
    color: #111;
}

.col-2 {
    text-decoration: none;
    padding: 10px 25px;
    margin: 30px;
    font-weight: 600;
    border-radius: 6px;
    background-color: #111;
    color: #fff;
    font-size: 2rem;
    box-shadow: 0px -1px 13px 2px #000000;
}

.col-2:hover {
    border: 2px solid #111;
    background-color: #E8E8E8;
    color: #111;
}

.col-3 {
    text-decoration: none;
    padding: 10px 25px;
    margin: 30px;
    font-weight: 600;
    border-radius: 6px;
    background-color: #111;
    color: #fff;
    font-size: 2rem;
    box-shadow: 0px -1px 13px 2px #000000;
}

.col-3:hover {
    border: 2px solid #111;
    background-color: #E8E8E8;
    color: #111;
}


/* Marcador*/

#marcador {
    width: 300px;
    height: 100px;
    background-color: black;
    position: relative;
    left: 200px;
}

.marcador-p {
    position: relative;
    left: 280px;
    top: -100px;
    color: white;
    font-size: 20px;
}

#resultado {
    position: relative;
    top: 390px;
    left: 185px;
}

#resultado-ganador {
    position: relative;
    color: white;
    font-size: 40px;
    top: 125px;
    left: 280px;
    z-index: 2;
}

#resultado-perdedor {
    position: relative;
    color: white;
    font-size: 40px;
    top: 80px;
    left: 370px;
    z-index: 2;
}